[submodule "tmux-powerline"]
	path = tmux-powerline
	url = https://github.com/ankurs/tmux-powerline.git
[submodule]
	tmux-powerline = master
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "tmuxifier"]
	path = tmuxifier
	url = https://github.com/jimeh/tmuxifier.git
[submodule "awesome"]
    path = awesome
    url = https://github.com/ankurs/awesome-copycats.git
